# Dependências
node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# Build
dist/
build/
out/
*.zip

# Ambiente
.env
.env.local

# Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Sistema
desktop.ini